body {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgb(196, 158, 231);
}

#main_block {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    background-color: rgb(94, 18, 165);
    color: white;
}

#image_header {
    max-width: 80vw;
    
}

.buttons {
    background: url();
}